{% extends "base.html" %}
{% block content %}

    

    <h2>{{ page_title }}</h2>
    <p>
        John White and Son (JWS) is a leading UK supplier of weighing solutions. Founded in 1715, it has over the years,
        gained a reputation for innovation and engineering excellence. We aim to provide the best weighing solutions to
        meet our customers’ varied needs. Through excellent customer service our mission is to share our expertise in
        providing cost-effective weighing solutions and in-service support. We will continue to expand and develop by
        working closely with customers to ensure, as always, that their changing needs are met. Flexibility means we can
        cater for a wide range of applications such as harsh and hazardous environments and meet hygiene and ATEX
        compliance legislation.
    </p>

    {% for point in company %}

        <div class="row featurette">
            <div class="col-md-7">
                <h3><a href="/about/{{ point.url }}">{{ point.name }}</a></h3>
                <p>
                    {{ point.description }}
                </p>
            </div>
        </div>

    {% endfor %}

{% endblock %}
