{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Start your JWS adventure
                    </h2>
                    <h3 class="post-subtitle">
                        From the world’s most iconic  brands to start-ups, JWS helps
                        businesses perform better every day.<br><br>

                        Our employee benefits are some of the best in the industry, supporting our people at every life
                        stage. It means we work smarter, happier, and healthier with long weekends, flexible ways of
                        working, and connected team culture.<br><br>

                        We think it's pretty amazing, and are sure you will too. If you want to be part of the team
                        that's building the future of weighing technology, we’d love to hear from you.<br><br>

                        Leave your contact details and we'll be in touch!
                    </h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}