{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Breedon Aggregates
                    </h2>
                    <h3 class="post-subtitle">
                        If, like Breedon Aggregates, you are the UK’s largest independent aggregates business and you
                        produce and deliver much of the asphalt, concrete and aggregates required by the construction
                        industry, then you want to make sure that your weighing equipment, servicing and maintenance is
                        top notch. You need a company that you can trust and rely on to keep you running – even if
                        lightning should strike your weighbridge (which it did this summer at Marybank Quarry in Lewis).
                        There are good reasons why that company is John White & Son.<br><br>

                        This business relationship started when the company traded as Ennstone, and it only had a
                        handful of quarries. Alan Mackenzie, current Chief Executive, recognises that John White & Son
                        has been with Breedon every step of the way since then to provide, install, maintain and
                        calibrate the high quality, state-of-the-art weighing machines that keep their business running
                        and competitive, no matter what.<br><br>

                        And while staff from John White & Son have been working away quietly in the background providing
                        essential weighing equipment and support, Breedon’s turnover has risen from £20m in 2001 to an
                        impressive £160m in 2015.<br><br>

                        JWS’ ability to deliver exactly what its customer needs has generated the mutual respect and
                        good working relations that will take this business relationship successfully into the future.<br><br>

                        John White & Son will always be there to help – even if lightning strikes twice in the same
                        place …
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Forbo Flooring Systems
                    </h2>
                    <h3 class="post-subtitle">
                        Forbo Flooring Systems holds the record for being John White & Son’s oldest customer: staff at
                        Auchtermuchty were supplying Michael Nairn & Co of Kirkcaldy (as the company was known then)
                        with weighing machines way back in the nineteenth century.<br><br>

                        The linoleum manufacturer has since been through some ups and downs, and narrowly escaped
                        closure in the 1970s when linoleum became unpopular. But it rose from the (almost) ashes to
                        become the only linoleum manufacturer in the UK, and now has a reputation for its bespoke
                        designs and high quality products.<br><br>

                        John White & Son has been with first Nairn and then Forbo through all these ups and downs,
                        steadfastly providing, servicing, maintaining and calibrating their weighing machines through
                        thick and thin, good years and bad.<br><br>

                        Mike McCartney (Operations Manager) places particularly high value on the company’s ability to
                        evolve and adapt its weighing technology to suit Forbo’s needs.<br><br>

                        John White & Son have used their unrivalled technical expertise to provide an automatic system
                        that enables Forbo’s staff to weigh a blended mix to make a specific type of linoleum. It has
                        minimised losses and made production much more accurate and consistent.<br><br>

                        But the jewel in the crown of John White & Son’s technological solutions has to be the system
                        they devised for Forbo’s electronic weighbridge, where drivers handle the whole weighing process
                        themselves. This means the information about their delivery is automatically updated via the
                        computer network without any intervention from staff in the site office. And to protect the
                        drivers from wild and windy weather, the scanning equipment is housed in a very retro red
                        telephone box.<br><br>

                        John White & Son ticks all the right boxes for Forbo Flooring Systems. And that, as Mike
                        McCartney says, is why ‘we wouldn’t think about using anybody else.’
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Silberline
                    </h2>
                    <h3 class="post-subtitle">
                        The next time you get into your car, have a good look at the paint on the bodywork: if it’s
                        metallic, the chances are it contains aluminium flakes that were produced at the Silberline
                        plant in Leven and weighed on John White & Son’s weighing machines.<br><br>

                        John White & Son has worked with this family owned business (founded in 1945 by Ernest Scheller)
                        since the Leven site opened in 1974. At that point Silberline had one mill room, 50 staff and
                        several state-of-the-art mechanical weighing machines supplied, calibrated and maintained by
                        John White & Son. These had to conform to health and safety regulations because aluminium flakes
                        were a potentially hazardous material to work with.<br><br>

                        Fast forward to today: the plant now has ten mill rooms, over 130 staff and several third
                        generation state-of-the-art electronic weighing machines supplied, calibrated and maintained by
                        John White & Son. These have to conform to the latest ATEX/DSEAR regulations because aluminium
                        flakes are still a potentially hazardous material to work with.<br><br>

                        There’s also another angle to consider: the company exports 95 per cent of its product, so it’s
                        crucial that the weighing machines are accurate enough to maintain consistently high standards,
                        year on year. If they’re not, and standards drop, there are plenty of competitors out there who
                        will be happy to take some of Silberline’s business.<br><br>

                        But Jonny Graham (Operations Manager) doesn’t have to worry about this because he knows that
                        John White staff have got the experience, skill and expertise to suggest the best machines for
                        the job. He also knows that they just get on with calibrating and maintaining these machines
                        quietly and effectively, without any fuss and bother. He doesn’t even have to think about it –
                        it just happens.<br><br>

                        And if there are any issues or problems, the Silberline maintenance manager just picks up the
                        phone and a John White engineer will come on site and put things right.<br><br>

                        So when the ISO 9001 auditors turn up on site every three months to check that the machines are
                        calibrated and accurate, then in Jonny’s words, ‘they always are’.
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        Kettle Produce
                    </h2>
                    <h3 class="post-subtitle">
                        When – like Kettle Produce – you are supplying brassicas, salads and vegetables to companies
                        like Marks & Spencer, Sainsbury and Tesco, it’s crucial that you can comply with these
                        customers’ high standards. In fact, it’s a legal requirement for Kettle to maintain its
                        checkweighers, as Christine Graham (Quality Manager) and Russell Pearson (Engineering Manager)
                        are quick to point out.<br><br>

                        Kettle Produce was established in 1985 by two Fife farming families and now has over 50 farmers
                        in Scotland, England, France, Spain and Portugal supplying their produce. Weighing is necessary
                        at every stage of the process from the intake of vegetables from these suppliers to their
                        preparation, packaging and final dispatch to supermarkets, and you don’t get an annual turnover
                        of £100m and become a local success story by making mistakes.<br><br>

                        Enter John White & Son.<br><br>

                        Their staff do a full, traceable calibration of all weighing machines once a year in both the
                        Orkie and the Balmalcolm sites, so that Kettle Produce conforms to the United Kingdom
                        Accreditation Service (UKAS) and can relax, knowing that it will comply with its customers’
                        standards. It’s one less (but very big) thing for them to think about.<br><br>

                        Scales and check-weighers are also serviced regularly – some annually and some every six months
                        – to troubleshoot any problems before they happen.<br><br>

                        And in case the worst should happen, John White & Son staff will be there promptly to fix any
                        problems so that production keeps going, and we can all carry on buying Kettle produce from the
                        supermarket shelves.
                    </h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}